openapi: 3.0.1
info:
  title: Happy Buyers External API
  description: 'External API for Happy Buyers organization metadata and inventory
    data.


    Requests are authenticated with an API key in the hca-api-key header. Results
    are scoped to

    the organization attached to that key. List endpoints use limit/offset pagination
    and return

    totalCount plus hasMore.

    '
  version: v1
servers:
- url: https://api.happycabbage.ai
  description: External API
security:
- ApiKeyAuth: []
tags:
- name: POS Brands
  description: Organization POS brand metadata and mappings
- name: Orders
  description: Orders
- name: Inventory Health
  description: Inventory health data
- name: Identity
  description: API key identity and organization context
- name: Universal Brands
  description: Canonical brand metadata across POS systems
- name: Daily Sales Metadata
  description: Daily product sales and stock metadata
- name: Packages
  description: Package-level product inventory
- name: Stores
  description: Organization location metadata
- name: Product Inventory
  description: Product-level inventory, sales, and demand metrics
- name: Product Line Inventory
  description: Product-line inventory, demand, and replenishment metrics
- name: Product Lines
  description: Product-lines
- name: POS Categories
  description: Organization POS category metadata and mappings
- name: Blockout Dates
  description: Blockout dates
- name: Universal Categories
  description: Canonical product category metadata across POS systems
paths:
  /external/v1/product-lines/{id}:
    get:
      tags:
      - Product Lines
      summary: Get a product line
      description: Returns one product line for the API key organization. Requires
        `product_lines:read`.
      operationId: getProductLine
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Product line details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLineDetailResponse'
        '401':
          description: Missing, malformed, or invalid API key
        '404':
          description: Product line not found
        '403':
          description: API key does not include product_lines:read
    put:
      tags:
      - Product Lines
      summary: Update a product line
      description: Updates a product line for the API key organization. Requires `product_lines:write`.
      operationId: updateProductLine
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLineUpdateRequest'
        required: true
      responses:
        '400':
          description: Invalid request body
        '401':
          description: Missing, malformed, or invalid API key
        '404':
          description: Product line not found
        '403':
          description: API key does not include product_lines:write
        '200':
          description: Updated product line
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLineDetailResponse'
  /external/v1/product-inventory/{productId}/stores/{storeId}/carry-status:
    put:
      tags:
      - Product Inventory
      summary: Update product carry status
      description: 'Updates whether a product should continue to be carried at a store.

        Discontinued products will still be viewable but will not be recommended for
        reorders.

        Requires `inventory:write`.

        '
      operationId: updateCarryStatus
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: storeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarryStatusUpdateRequest'
        required: true
      responses:
        '400':
          description: Invalid request body
        '401':
          description: Missing, malformed, or invalid API key
        '404':
          description: Store or product inventory not found
        '200':
          description: Updated carry status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarryStatusUpdateResponse'
        '403':
          description: API key does not include inventory:write
  /external/v1/orders/{orderId}/items:
    get:
      tags:
      - Orders
      summary: List order items
      description: Returns product and product-line items for an order in the API
        key organization. Requires `orders:read`.
      operationId: getOrderItems
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Maximum records to return. Defaults to `100`.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: string
          description: Maximum records to return. Defaults to `100`.
          default: '100'
      - name: offset
        in: query
        description: Zero-based record offset. Defaults to `0`.
        required: false
        schema:
          minimum: 0
          type: string
          description: Zero-based record offset. Defaults to `0`.
          default: '0'
      - name: sortTarget
        in: query
        description: Field used to sort order items.
        required: false
        schema:
          type: string
          description: Field used to sort order items.
      - name: sortDirection
        in: query
        description: Sort direction. Defaults to `ASC`.
        required: false
        schema:
          type: string
          description: Sort direction. Defaults to `ASC`.
          default: ASC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseOrderItemResponse'
    put:
      tags:
      - Orders
      summary: Add order item
      description: Adds a product, product-line, or custom item to an order. Requires
        `orders:write`.
      operationId: addOrderItem
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderItemAddRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderItemResponse'
  /external/v1/orders/{orderId}/invoices/{invoiceId}:
    get:
      tags:
      - Orders
      summary: Get order invoice
      description: Returns invoice metadata for an order in the API key organization.
        Requires `orders:read`.
      operationId: getOrderInvoice
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: invoiceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderInvoiceResponse'
    put:
      tags:
      - Orders
      summary: Update order invoice
      description: Updates invoice metadata for an order in the API key organization.
        Requires `orders:write`.
      operationId: updateOrderInvoice
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: invoiceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInvoiceUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderInvoiceResponse'
    delete:
      tags:
      - Orders
      summary: Remove order invoice
      description: Removes invoice metadata and its file from an order in the API
        key organization. Requires `orders:write`.
      operationId: removeOrderInvoice
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: invoiceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /external/v1/orders/{id}:
    put:
      tags:
      - Orders
      summary: Update an order
      description: Updates order metadata for the API key organization. Requires `orders:write`.
      operationId: updateOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRequest'
        required: true
      responses:
        '404':
          description: Order not found
        '400':
          description: Invalid request body
        '401':
          description: Missing, malformed, or invalid API key
        '403':
          description: API key does not include orders:write
        '200':
          description: Updated order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
  /external/v1/blockout-dates/{id}:
    get:
      tags:
      - Blockout Dates
      summary: Get a blockout date
      description: Returns one blockout date. Requires `blockout_dates:read`.
      operationId: getBlockoutDate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockoutDateResponse'
    put:
      tags:
      - Blockout Dates
      summary: Update a blockout date
      description: Updates a blockout date. Requires `blockout_dates:write`.
      operationId: updateBlockoutDate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockoutDateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockoutDateResponse'
    delete:
      tags:
      - Blockout Dates
      summary: Delete a blockout date
      description: Deletes a blockout date. Requires `blockout_dates:write`.
      operationId: deleteBlockoutDate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /external/v1/product-lines:
    get:
      tags:
      - Product Lines
      summary: List product lines
      description: Returns product lines for the API key organization. Requires `product_lines:read`.
      operationId: getProductLines
      parameters:
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of product lines to return. Maximum is 500.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: isFavorite
        in: query
        description: Filter by whether the product line is marked as a favorite.
        required: false
        schema:
          type: boolean
        example: true
      - name: universalCategoryIds
        in: query
        description: Universal category ID filters. Pass repeated query parameters,
          for example universalCategoryIds=1&universalCategoryIds=2.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 12
      - name: posBrandIds
        in: query
        description: POS brand ID filters. Pass repeated query parameters, for example
          posBrandIds=1&posBrandIds=2.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 42
      - name: search
        in: query
        description: Case-insensitive product line search text.
        required: false
        schema:
          type: string
        example: gummies
      - name: productLineId
        in: query
        description: Exact product line ID filter.
        required: false
        schema:
          type: integer
          format: int32
        example: 123
      - name: universalBrandIds
        in: query
        description: Universal brand ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 90
      responses:
        '401':
          description: Missing, malformed, or invalid API key
        '200':
          description: Paged product line results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseProductLineDetailResponse'
        '400':
          description: Invalid query parameter
        '403':
          description: API key does not include product_lines:read
    post:
      tags:
      - Product Lines
      summary: Create a product line
      description: Creates a new product line for the API key organization. Requires
        `product_lines:write`.
      operationId: createProductLine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLineCreateRequest'
        required: true
      responses:
        '200':
          description: Created product line
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLineDetailResponse'
        '400':
          description: Invalid request body
        '401':
          description: Missing, malformed, or invalid API key
        '403':
          description: API key does not include product_lines:write
  /external/v1/orders:
    get:
      tags:
      - Orders
      summary: List orders
      description: Returns `DRAFT`, `READY_TO_SEND`, `SUBMITTED`, and `RECEIVED` orders
        for the API key organization. Requires `orders:read`.
      operationId: getOrders
      parameters:
      - name: limit
        in: query
        description: Maximum records to return. Defaults to `100`.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: string
          description: Maximum records to return. Defaults to `100`.
          default: '100'
      - name: offset
        in: query
        description: Zero-based record offset. Defaults to `0`.
        required: false
        schema:
          minimum: 0
          type: string
          description: Zero-based record offset. Defaults to `0`.
          default: '0'
      - name: sortTarget
        in: query
        description: Field used to sort orders. `CREATED_AT` sorts by order creation
          time.
        required: false
        schema:
          type: string
          description: Field used to sort orders. `CREATED_AT` sorts by order creation
            time.
      - name: sortDirection
        in: query
        description: Sort direction. Defaults to `DESC`.
        required: false
        schema:
          type: string
          description: Sort direction. Defaults to `DESC`.
          default: DESC
      - name: universalBrandId
        in: query
        description: Only return orders containing products for this universal brand
          id.
        required: false
        schema:
          type: string
          description: Only return orders containing products for this universal brand
            id.
      - name: status
        in: query
        description: Only return orders with this status, including `DRAFT`.
        required: false
        schema:
          type: string
          description: Only return orders with this status, including `DRAFT`.
      - name: createdAtFrom
        in: query
        description: Minimum inclusive order `createdAt` timestamp.
        required: false
        schema:
          type: string
          description: Minimum inclusive order `createdAt` timestamp.
      - name: createdAtUntil
        in: query
        description: Maximum exclusive order `createdAt` timestamp.
        required: false
        schema:
          type: string
          description: Maximum exclusive order `createdAt` timestamp.
      - name: includeArchived
        in: query
        description: Include archived orders. Defaults to `false`.
        required: false
        schema:
          type: string
          description: Include archived orders. Defaults to `false`.
          default: 'false'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseOrderResponse'
    post:
      tags:
      - Orders
      summary: Create an order
      description: Creates a `DRAFT` order for the API key organization. Requires
        `orders:write`.
      operationId: createOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequest'
        required: true
      responses:
        '200':
          description: Created order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Invalid request body
        '401':
          description: Missing, malformed, or invalid API key
        '403':
          description: API key does not include orders:write
  /external/v1/orders/{orderId}/invoices:
    get:
      tags:
      - Orders
      summary: List order invoices
      description: Returns invoice metadata for an order in the API key organization.
        Requires `orders:read`.
      operationId: getOrderInvoices
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: Maximum records to return. Defaults to `100`.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: string
          description: Maximum records to return. Defaults to `100`.
          default: '100'
      - name: offset
        in: query
        description: Zero-based record offset. Defaults to `0`.
        required: false
        schema:
          minimum: 0
          type: string
          description: Zero-based record offset. Defaults to `0`.
          default: '0'
      - name: sortTarget
        in: query
        description: Field used to sort invoices.
        required: false
        schema:
          type: string
          description: Field used to sort invoices.
      - name: sortDirection
        in: query
        description: Sort direction. Defaults to `DESC`.
        required: false
        schema:
          type: string
          description: Sort direction. Defaults to `DESC`.
          default: DESC
      - name: search
        in: query
        description: Search text matched against invoice name and filename.
        required: false
        schema:
          type: string
          description: Search text matched against invoice name and filename.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseOrderInvoiceResponse'
    post:
      tags:
      - Orders
      summary: Add order invoice
      description: Adds invoice metadata to an order in the API key organization.
        Requires `orders:write`.
      operationId: addOrderInvoice
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInvoiceCreateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderInvoiceResponse'
  /external/v1/orders/{orderId}/invoices/{invoiceId}/upload-url:
    post:
      tags:
      - Orders
      summary: Generate order invoice upload URL
      description: Generates a temporary upload URL for an order invoice in the API
        key organization. Requires `orders:write`.
      operationId: generateTemporaryUploadUrl
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: invoiceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInvoiceUrlRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /external/v1/orders/{orderId}/invoices/{invoiceId}/download-url:
    post:
      tags:
      - Orders
      summary: Generate order invoice download URL
      description: Generates a temporary download URL for an order invoice in the
        API key organization. Requires `orders:read`.
      operationId: generateTemporaryDownloadUrl
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: invoiceId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInvoiceUrlRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
  /external/v1/blockout-dates:
    get:
      tags:
      - Blockout Dates
      summary: List blockout dates
      description: List blockout dates. Requires `blockout_dates:read`.
      operationId: getBlockoutDates
      parameters:
      - name: limit
        in: query
        description: Maximum records to return. Defaults to 100.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: string
          description: Maximum records to return. Defaults to 100.
          default: '100'
      - name: offset
        in: query
        description: Zero-based result offset. Defaults to 0.
        required: false
        schema:
          minimum: 0
          type: string
          description: Zero-based result offset. Defaults to 0.
          default: '0'
      - name: sortTarget
        in: query
        description: Field used to sort results. Defaults to START_DATE.
        required: false
        schema:
          type: string
          description: Field used to sort results. Defaults to START_DATE.
      - name: sortDirection
        in: query
        description: Sort direction. Defaults to ASC.
        required: false
        schema:
          type: string
          description: Sort direction. Defaults to ASC.
          default: ASC
      - name: storeId
        in: query
        description: Only return blockout dates for this store UUID.
        required: false
        schema:
          type: string
          description: Only return blockout dates for this store UUID.
      - name: includeAllStores
        in: query
        description: When filtering by `storeId`, include blockout dates that apply
          to all stores when `true`, or exclude them when `false`.
        required: false
        schema:
          type: string
          description: When filtering by `storeId`, include blockout dates that apply
            to all stores when `true`, or exclude them when `false`.
      - name: search
        in: query
        description: Case-insensitive blockout date name or description search text.
        required: false
        schema:
          type: string
          description: Case-insensitive blockout date name or description search text.
      - name: isAllStores
        in: query
        description: Only return blockout dates that apply to all stores.
        required: false
        schema:
          type: string
          description: Only return blockout dates that apply to all stores.
      - name: isRecurring
        in: query
        description: Only return recurring or non-recurring blockout dates.
        required: false
        schema:
          type: string
          description: Only return recurring or non-recurring blockout dates.
      - name: activeOnOrAfter
        in: query
        description: Only return blockout dates active on or after this date, inclusive.
        required: false
        schema:
          type: string
          description: Only return blockout dates active on or after this date, inclusive.
      - name: activeBefore
        in: query
        description: Only return blockout dates active before this date, exclusive.
        required: false
        schema:
          type: string
          description: Only return blockout dates active before this date, exclusive.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseBlockoutDateResponse'
    post:
      tags:
      - Blockout Dates
      summary: Create a blockout date
      description: Creates a blockout date. Requires `blockout_dates:write`.
      operationId: createBlockoutDate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockoutDateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockoutDateResponse'
  /external/v1/whoami:
    get:
      tags:
      - Identity
      summary: Identify the current API key
      description: Returns the API key name, key creation time, and organization context
        for the authenticated hca-api-key header.
      operationId: whoami
      responses:
        '200':
          description: Authenticated API key identity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityResponse'
        '401':
          description: Missing, malformed, or invalid API key
  /external/v1/universal-categories:
    get:
      tags:
      - Universal Categories
      summary: List universal categories
      description: Returns canonical product categories. Results are global categories
        and are available to any authenticated external API key.
      operationId: getUniversalCategories
      parameters:
      - name: limit
        in: query
        description: Maximum number of categories to return. Maximum is 100.
        required: false
        schema:
          maximum: 100
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: search
        in: query
        description: Case-insensitive category name or label search text.
        required: false
        schema:
          type: string
        example: flower
      - name: sortTarget
        in: query
        description: Field to sort by.
        required: false
        schema:
          type: string
          enum:
          - LABEL
        example: LABEL
      - name: sortDirection
        in: query
        description: Sort direction. Prefer ASC or DESC; lowercase values are deprecated
          aliases.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
        example: ASC
      responses:
        '401':
          description: Missing, malformed, or invalid API key
        '200':
          description: Paged universal category results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseUniversalCategoryResponse'
        '400':
          description: Invalid query parameter
  /external/v1/universal-brands:
    get:
      tags:
      - Universal Brands
      summary: List universal brands
      description: Returns canonical brands for the API key organization. Requires
        the organization_metadata:read scope.
      operationId: getUniversalBrands
      parameters:
      - name: limit
        in: query
        description: Maximum number of brands to return. Maximum is 100.
        required: false
        schema:
          maximum: 100
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: search
        in: query
        description: Case-insensitive brand name search text.
        required: false
        schema:
          type: string
        example: acme
      - name: sortTarget
        in: query
        description: Field to sort by.
        required: false
        schema:
          type: string
          enum:
          - NAME
        example: NAME
      - name: sortDirection
        in: query
        description: Sort direction. Prefer ASC or DESC; lowercase values are deprecated
          aliases.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
        example: ASC
      responses:
        '403':
          description: API key does not include organization_metadata:read
        '200':
          description: Paged universal brand results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseUniversalBrandResponse'
        '401':
          description: Missing, malformed, or invalid API key
        '400':
          description: Invalid query parameter
  /external/v1/stores:
    get:
      tags:
      - Stores
      summary: List stores
      description: Returns stores and locations for the API key organization. Distribution
        fulfillment relationships are included when configured. Requires organization_metadata:read.
      operationId: getStores
      parameters:
      - name: limit
        in: query
        description: Maximum number of stores to return. Maximum is 100.
        required: false
        schema:
          maximum: 100
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: search
        in: query
        description: Case-insensitive store/location name search text.
        required: false
        schema:
          type: string
        example: downtown
      - name: type
        in: query
        description: Store/location type filter.
        required: false
        schema:
          type: string
          enum:
          - RETAIL
          - DISTRIBUTION_CENTER
          - CULTIVATION
          - MANUFACTURING
        example: RETAIL
      - name: fulfilledByLocationId
        in: query
        description: Distribution center UUID used to filter locations fulfilled by
          that location.
        required: false
        schema:
          type: string
          format: uuid
        example: 11111111-1111-1111-1111-111111111111
      responses:
        '403':
          description: API key does not include organization_metadata:read
        '401':
          description: Missing, malformed, or invalid API key
        '200':
          description: Paged store results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseStoreResponse'
        '400':
          description: Invalid query parameter
  /external/v1/product-lines/{id}/product-inventory:
    get:
      tags:
      - Product Lines
      summary: Find product inventory inside a product line
      operationId: getProductLineProductInventory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of products to return. Maximum is 500.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: storeIds
        in: query
        description: Store UUID filters. Pass repeated query parameters, for example
          storeIds=id1&storeIds=id2.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        example: 11111111-1111-1111-1111-111111111111
      - name: isInStock
        in: query
        description: When true, only products with inventory on hand are returned.
        required: false
        schema:
          type: boolean
        example: true
      - name: continueToCarry
        in: query
        description: Filter by whether the product should continue to be carried.
        required: false
        schema:
          type: boolean
        example: true
      - name: minimumPredictedDaysOnHand
        in: query
        description: Minimum predicted days on hand.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 3
      - name: maximumPredictedDaysOnHand
        in: query
        description: Maximum predicted days on hand.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 30
      - name: minimumPredictedSellableDaysOnHand
        in: query
        description: Minimum predicted sellable days on hand.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 3
      - name: maximumPredictedSellableDaysOnHand
        in: query
        description: Maximum predicted sellable days on hand.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 30
      - name: minimumInventory
        in: query
        description: Minimum current inventory units.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: maximumInventory
        in: query
        description: Maximum current inventory units.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 100
      - name: minimumSellableInventory
        in: query
        description: Minimum sellable inventory units.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: maximumSellableInventory
        in: query
        description: Maximum sellable inventory units.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 100
      - name: minimumAgedInventoryCost
        in: query
        description: Minimum cost of inventory aged 90 or more days.
        required: false
        schema:
          minimum: 0
          type: number
          format: double
        example: 100.0
      - name: maximumAgedInventoryCost
        in: query
        description: Maximum cost of inventory aged 90 or more days.
        required: false
        schema:
          minimum: 0
          type: number
          format: double
        example: 1000.0
      - name: desiredDaysOnHand
        in: query
        description: Target days on hand used for replenishment calculations.
        required: false
        schema:
          minimum: 1
          type: integer
          format: int32
          default: 14
        example: 14
      - name: leadTime
        in: query
        description: Lead time in days used for replenishment calculations.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: lookbackPeriodDays
        in: query
        description: Sales lookback window in days. Allowed values are 1, 7, 14, 21,
          30, 60, and 90.
        required: false
        schema:
          type: integer
          format: int32
          default: 30
          enum:
          - 1
          - 7
          - 14
          - 21
          - 30
          - 60
          - 90
        example: 30
      - name: sortTarget
        in: query
        description: Field to sort by.
        required: false
        schema:
          type: string
          enum:
          - UNITS_PER_DAY
          - LAST_ACTIVITY_AT
        example: UNITS_PER_DAY
      - name: sortDirection
        in: query
        description: Sort direction. Prefer ASC or DESC; lowercase values are deprecated
          aliases.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
        example: DESC
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseProductInventoryResponse'
  /external/v1/product-line-inventory:
    get:
      tags:
      - Product Line Inventory
      summary: List product line inventory
      description: Returns demand-group/product-line inventory, sales velocity, aging,
        and replenishment metrics for the API key organization. Requires inventory:read.
      operationId: getProductLineInventory
      parameters:
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of product lines to return. Maximum is 500.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: storeIds
        in: query
        description: Store UUID filters. Pass repeated query parameters, for example
          storeIds=id1&storeIds=id2.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        example: 11111111-1111-1111-1111-111111111111
      - name: restockOnly
        in: query
        description: When true, only product lines with units to order are returned.
        required: false
        schema:
          type: boolean
        example: true
      - name: lowDepthOnly
        in: query
        description: When true, only product lines below desired product depth are
          returned.
        required: false
        schema:
          type: boolean
        example: true
      - name: isFavorite
        in: query
        description: Filter by whether the product line is marked as a favorite.
        required: false
        schema:
          type: boolean
        example: true
      - name: universalCategoryIds
        in: query
        description: Universal category ID filters. Pass repeated query parameters,
          for example universalCategoryIds=1&universalCategoryIds=2.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 12
      - name: posBrandIds
        in: query
        description: POS brand ID filters. Pass repeated query parameters, for example
          posBrandIds=1&posBrandIds=2.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 42
      - name: search
        in: query
        description: Case-insensitive product line search text.
        required: false
        schema:
          type: string
        example: gummies
      - name: productLineId
        in: query
        description: Exact product line ID filter.
        required: false
        schema:
          type: integer
          format: int32
        example: 123
      - name: sortTarget
        in: query
        description: Field to sort by.
        required: false
        schema:
          type: string
          enum:
          - UNITS_PER_DAY
          - REPORT_RUN_AT
          - AGED_INVENTORY_COST
          - INVENTORY_COST
          - DOLLARS_SOLD
          - ESTIMATED_PROFIT
          - AVERAGE_DISCOUNT_PERCENT
          - AVERAGE_MARGIN_PERCENT
        example: UNITS_PER_DAY
      - name: sortDirection
        in: query
        description: Sort direction. Prefer ASC or DESC; lowercase values are deprecated
          aliases.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
        example: DESC
      - name: universalBrandIds
        in: query
        description: Universal brand ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 90
      - name: includeProductLineDetails
        in: query
        description: Whether or not to include product line details with the inventory
          response.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '403':
          description: API key does not include inventory:read
        '401':
          description: Missing, malformed, or invalid API key
        '200':
          description: Paged product line inventory results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseProductLineInventoryResponse'
        '400':
          description: Invalid query parameter
  /external/v1/product-inventory:
    get:
      tags:
      - Product Inventory
      summary: List product inventory
      description: Returns product-level inventory, sales velocity, pricing, cost,
        age, and replenishment metrics for the API key organization. Requires inventory:read.
      operationId: getProductInventory
      parameters:
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of products to return. Maximum is 500.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: storeIds
        in: query
        description: Store UUID filters. Pass repeated query parameters, for example
          storeIds=id1&storeIds=id2.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        example: 11111111-1111-1111-1111-111111111111
      - name: isInStock
        in: query
        description: When true, only products with inventory on hand are returned.
        required: false
        schema:
          type: boolean
        example: true
      - name: continueToCarry
        in: query
        description: Filter by whether the product should continue to be carried.
        required: false
        schema:
          type: boolean
        example: true
      - name: restockOnly
        in: query
        description: When true, only products with units to order are returned.
        required: false
        schema:
          type: boolean
        example: true
      - name: activeInLastDays
        in: query
        description: Minimum active sales days in the lookback window.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 7
      - name: matchingSearchTerms
        in: query
        description: Product search terms that must all match product names, while
          any may match SKUs. Pass repeated query parameters, for example matchingSearchTerms=blue&matchingSearchTerms=dream.
        required: false
        schema:
          type: array
          items:
            type: string
        example: blue
      - name: notMatchingSearchTerms
        in: query
        description: Product name search terms to exclude. Pass repeated query parameters,
          for example notMatchingSearchTerms=sample&notMatchingSearchTerms=test.
        required: false
        schema:
          type: array
          items:
            type: string
        example: sample
      - name: universalCategoryIds
        in: query
        description: Universal category ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 12
      - name: posCategoryIds
        in: query
        description: POS category ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 34
      - name: posSubCategoryIds
        in: query
        description: POS subcategory ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 56
      - name: vendorIds
        in: query
        description: Vendor ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 78
      - name: universalBrandIds
        in: query
        description: Universal brand ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 90
      - name: posBrandIds
        in: query
        description: POS brand ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 42
      - name: includeUniversalUncategorized
        in: query
        description: Include products without a mapped universal category.
        required: false
        schema:
          type: boolean
        example: true
      - name: includePosUncategorized
        in: query
        description: Include products without a POS category.
        required: false
        schema:
          type: boolean
        example: true
      - name: includePosSubUncategorized
        in: query
        description: Include products without a POS subcategory.
        required: false
        schema:
          type: boolean
        example: true
      - name: minWeight
        in: query
        description: Minimum product weight.
        required: false
        schema:
          minimum: 0
          type: number
          format: double
        example: 3.5
      - name: maxWeight
        in: query
        description: Maximum product weight.
        required: false
        schema:
          minimum: 0
          type: number
          format: double
        example: 28.0
      - name: strainClassificationIds
        in: query
        description: Strain classification ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 5
      - name: minPrice
        in: query
        description: Minimum unit price.
        required: false
        schema:
          minimum: 0
          type: number
          format: double
        example: 10.0
      - name: maxPrice
        in: query
        description: Maximum unit price.
        required: false
        schema:
          minimum: 0
          type: number
          format: double
        example: 50.0
      - name: minCost
        in: query
        description: Minimum unit cost.
        required: false
        schema:
          minimum: 0
          type: number
          format: double
        example: 5.0
      - name: maxCost
        in: query
        description: Maximum unit cost.
        required: false
        schema:
          minimum: 0
          type: number
          format: double
        example: 30.0
      - name: minimumPredictedDaysOnHand
        in: query
        description: Minimum predicted days on hand.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 3
      - name: maximumPredictedDaysOnHand
        in: query
        description: Maximum predicted days on hand.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 30
      - name: minimumPredictedSellableDaysOnHand
        in: query
        description: Minimum predicted sellable days on hand.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 3
      - name: maximumPredictedSellableDaysOnHand
        in: query
        description: Maximum predicted sellable days on hand.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 30
      - name: minimumInventory
        in: query
        description: Minimum current inventory units.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: maximumInventory
        in: query
        description: Maximum current inventory units.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 100
      - name: minimumSellableInventory
        in: query
        description: Minimum sellable inventory units.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: maximumSellableInventory
        in: query
        description: Maximum sellable inventory units.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 100
      - name: minimumAgedInventoryCost
        in: query
        description: Minimum cost of inventory aged 90 or more days.
        required: false
        schema:
          minimum: 0
          type: number
          format: double
        example: 100.0
      - name: maximumAgedInventoryCost
        in: query
        description: Maximum cost of inventory aged 90 or more days.
        required: false
        schema:
          minimum: 0
          type: number
          format: double
        example: 1000.0
      - name: desiredDaysOnHand
        in: query
        description: Target days on hand used for replenishment calculations.
        required: false
        schema:
          minimum: 1
          type: integer
          format: int32
          default: 14
        example: 14
      - name: leadTime
        in: query
        description: Lead time in days used for replenishment calculations.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: lookbackPeriodDays
        in: query
        description: Sales lookback window in days. Allowed values are 1, 7, 14, 21,
          30, 60, and 90.
        required: false
        schema:
          type: integer
          format: int32
          default: 30
          enum:
          - 1
          - 7
          - 14
          - 21
          - 30
          - 60
          - 90
        example: 30
      - name: sortTarget
        in: query
        description: Field to sort by.
        required: false
        schema:
          type: string
          enum:
          - UNITS_PER_DAY
          - LAST_ACTIVITY_AT
        example: UNITS_PER_DAY
      - name: sortDirection
        in: query
        description: Sort direction. Prefer ASC or DESC; lowercase values are deprecated
          aliases.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
        example: DESC
      responses:
        '200':
          description: Paged product inventory results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseProductInventoryResponse'
        '403':
          description: API key does not include inventory:read
        '401':
          description: Missing, malformed, or invalid API key
        '400':
          description: Invalid query parameter
  /external/v1/product-inventory/packages:
    get:
      tags:
      - Packages
      summary: List packages
      description: Returns package-level product inventory for the API key organization.
        Requires inventory:read.
      operationId: findPackages
      parameters:
      - name: limit
        in: query
        description: Maximum number of packages to return. Maximum is 500.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: search
        in: query
        description: Package search text matched against product name, POS package
          ID, and regulatory ID.
        required: false
        schema:
          type: string
        example: blue
      - name: storeIds
        in: query
        description: Store UUID filters. Pass repeated query parameters, for example
          storeIds=id1&storeIds=id2.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        example: 11111111-1111-1111-1111-111111111111
      - name: universalCategoryIds
        in: query
        description: Universal category ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 12
      - name: posCategoryIds
        in: query
        description: POS category ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 34
      - name: posSubCategoryIds
        in: query
        description: POS subcategory ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 56
      - name: universalBrandIds
        in: query
        description: Universal brand ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 90
      - name: posBrandIds
        in: query
        description: POS brand ID filters, passed as repeated query parameters.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 42
      - name: hasUniversalCategory
        in: query
        description: Filter by mapped universal category presence. Use false to return
          packages without a mapped universal category.
        required: false
        schema:
          type: boolean
        example: true
      - name: hasPosCategory
        in: query
        description: Filter by POS category presence. Use false to return packages
          without a POS category.
        required: false
        schema:
          type: boolean
        example: true
      - name: hasPosSubCategory
        in: query
        description: Filter by POS subcategory presence. Use false to return packages
          without a POS subcategory.
        required: false
        schema:
          type: boolean
        example: true
      - name: minDaysAged
        in: query
        description: Minimum package age in days.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 30
      - name: maxDaysAged
        in: query
        description: Maximum package age in days.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 90
      - name: receivedAtStart
        in: query
        description: Earliest package received timestamp, inclusive.
        required: false
        schema:
          type: string
          format: date-time
      - name: receivedAtEnd
        in: query
        description: Latest package received timestamp, exclusive.
        required: false
        schema:
          type: string
          format: date-time
      - name: minCurrentInventory
        in: query
        description: Minimum current package inventory units.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 1
      - name: maxCurrentInventory
        in: query
        description: Maximum current package inventory units.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
        example: 100
      - name: sortTarget
        in: query
        description: Field to sort by.
        required: false
        schema:
          type: string
          enum:
          - DAYS_AGED
          - RECEIVED_AT
          - CURRENT_INVENTORY
          - LAST_ACTIVITY_AT
        example: LAST_ACTIVITY_AT
      - name: sortDirection
        in: query
        description: Sort direction. Prefer ASC or DESC; lowercase values are deprecated
          aliases.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
        example: DESC
      - name: isInStock
        in: query
        description: When true, only packages with inventory on hand are returned.
        required: false
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: Paged package inventory results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponsePackageResponse'
        '403':
          description: API key does not include inventory:read
        '401':
          description: Missing, malformed, or invalid API key
        '400':
          description: Invalid query parameter
  /external/v1/pos-categories:
    get:
      tags:
      - POS Categories
      summary: List POS categories
      description: Returns POS-specific categories and subcategories for the API key
        organization, including mapped universal category information when available.
        Requires organization_metadata:read.
      operationId: getPosCategories
      parameters:
      - name: limit
        in: query
        description: Maximum number of POS categories to return. Maximum is 100.
        required: false
        schema:
          maximum: 100
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: search
        in: query
        description: Case-insensitive POS category name or label search text.
        required: false
        schema:
          type: string
        example: edible
      - name: sortTarget
        in: query
        description: Field to sort by.
        required: false
        schema:
          type: string
          enum:
          - LABEL
          - CREATED_AT
        example: LABEL
      - name: sortDirection
        in: query
        description: Sort direction. Prefer ASC or DESC; lowercase values are deprecated
          aliases.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
        example: ASC
      - name: isSubCategory
        in: query
        description: When true, only subcategories are returned; when false, only
          top-level categories are returned.
        required: false
        schema:
          type: boolean
        example: false
      responses:
        '403':
          description: API key does not include organization_metadata:read
        '200':
          description: Paged POS category results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponsePosCategoryResponse'
        '401':
          description: Missing, malformed, or invalid API key
        '400':
          description: Invalid query parameter
  /external/v1/pos-brands:
    get:
      tags:
      - POS Brands
      summary: List POS brands
      description: Returns POS-specific brands for the API key organization, including
        mapped universal brand information when available. Requires organization_metadata:read.
      operationId: getPosBrands
      parameters:
      - name: limit
        in: query
        description: Maximum number of POS brands to return. Maximum is 100.
        required: false
        schema:
          maximum: 100
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: search
        in: query
        description: Case-insensitive POS brand name search text.
        required: false
        schema:
          type: string
        example: acme
      responses:
        '403':
          description: API key does not include organization_metadata:read
        '401':
          description: Missing, malformed, or invalid API key
        '200':
          description: Paged POS brand results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponsePosBrandResponse'
        '400':
          description: Invalid query parameter
  /external/v1/inventory-health/stores:
    get:
      tags:
      - Inventory Health
      summary: List store inventory health
      description: Returns store-level inventory health metrics for the API key organization.
        Results are always separated by store. Requires inventory:read.
      operationId: getStoreInventoryHealths
      parameters:
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of inventory health rows to return. Maximum is
          500.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: storeIds
        in: query
        description: Store UUID filters. Pass repeated query parameters, for example
          storeIds=id1&storeIds=id2.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        example: 11111111-1111-1111-1111-111111111111
      - name: brandIds
        in: query
        description: POS brand ID filters. Pass repeated query parameters, for example
          brandIds=1&brandIds=2.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 99
      - name: categoryIds
        in: query
        description: POS category ID filters. Pass repeated query parameters, for
          example categoryIds=1&categoryIds=2.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 42
      - name: search
        in: query
        description: Search text matched against the fields returned by the route.
        required: false
        schema:
          type: string
      - name: includePercentShares
        in: query
        description: Whether to include percent-share fields.
        required: false
        schema:
          type: boolean
        example: false
      - name: sortTarget
        in: query
        description: Field to sort by.
        required: false
        schema:
          type: string
          enum:
          - UNITS_PER_DAY
          - UPDATED_AT
          - PERCENT_SHARE_OF_PROFIT
          - PERCENT_SHARE_OF_AGED_INVENTORY_COST
          - PERCENT_SHARE_OF_DOLLARS_SOLD
          - PERCENT_SHARE_OF_UNITS_SOLD
        example: UNITS_PER_DAY
      - name: sortDirection
        in: query
        description: Sort direction. Prefer ASC or DESC; lowercase values are deprecated
          aliases.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
        example: DESC
      responses:
        '403':
          description: API key does not include inventory:read
        '401':
          description: Missing, malformed, or invalid API key
        '200':
          description: Paged store inventory health results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseStoreResponse'
        '400':
          description: Invalid query parameter
  /external/v1/inventory-health/stores/history:
    get:
      tags:
      - Inventory Health
      summary: List store inventory health history
      description: Returns historical store-level inventory health metrics for the
        API key organization. Results are always separated by store. Requires inventory:read.
      operationId: getStoreInventoryHealthHistories
      parameters:
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of inventory health rows to return. Maximum is
          500.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: storeIds
        in: query
        description: Store UUID filters. Pass repeated query parameters, for example
          storeIds=id1&storeIds=id2.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        example: 11111111-1111-1111-1111-111111111111
      - name: search
        in: query
        description: Search text matched against the fields returned by the route.
        required: false
        schema:
          type: string
      - name: sortTarget
        in: query
        description: Field to sort by.
        required: false
        schema:
          type: string
          enum:
          - START_DATE
          - UNITS_PER_DAY
          - UPDATED_AT
        example: START_DATE
      - name: sortDirection
        in: query
        description: Sort direction. Prefer ASC or DESC; lowercase values are deprecated
          aliases.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
        example: DESC
      - name: periodType
        in: query
        description: Inventory history period granularity.
        required: true
        schema:
          type: string
          enum:
          - WEEKLY
          - MONTHLY
      - name: minStartDate
        in: query
        description: Minimum inclusive history start date.
        required: false
        schema:
          type: string
          format: date
      - name: maxStartDate
        in: query
        description: Maximum inclusive history start date.
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Paged store inventory health history results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseStoreHistoryResponse'
        '403':
          description: API key does not include inventory:read
        '401':
          description: Missing, malformed, or invalid API key
        '400':
          description: Invalid query parameter
  /external/v1/inventory-health/pos-brands:
    get:
      tags:
      - Inventory Health
      summary: List POS brand inventory health
      description: Returns POS brand inventory health metrics for the API key organization.
        Results are always separated by store. Requires inventory:read.
      operationId: getPosBrandInventoryHealths
      parameters:
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of inventory health rows to return. Maximum is
          500.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: storeIds
        in: query
        description: Store UUID filters. Pass repeated query parameters, for example
          storeIds=id1&storeIds=id2.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        example: 11111111-1111-1111-1111-111111111111
      - name: brandIds
        in: query
        description: POS brand ID filters. Pass repeated query parameters, for example
          brandIds=1&brandIds=2.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 99
      - name: categoryIds
        in: query
        description: POS category ID filters. Pass repeated query parameters, for
          example categoryIds=1&categoryIds=2.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 42
      - name: search
        in: query
        description: Search text matched against the fields returned by the route.
        required: false
        schema:
          type: string
      - name: includePercentShares
        in: query
        description: Whether to include percent-share fields.
        required: false
        schema:
          type: boolean
        example: false
      - name: sortTarget
        in: query
        description: Field to sort by.
        required: false
        schema:
          type: string
          enum:
          - UNITS_PER_DAY
          - UPDATED_AT
          - PERCENT_SHARE_OF_PROFIT
          - PERCENT_SHARE_OF_AGED_INVENTORY_COST
          - PERCENT_SHARE_OF_DOLLARS_SOLD
          - PERCENT_SHARE_OF_UNITS_SOLD
        example: UNITS_PER_DAY
      - name: sortDirection
        in: query
        description: Sort direction. Prefer ASC or DESC; lowercase values are deprecated
          aliases.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
        example: DESC
      - name: posBrandIds
        in: query
        description: Optional target posBrands to filter responses
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 332
      responses:
        '200':
          description: Paged POS brand inventory health results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponsePosBrandResponse'
        '403':
          description: API key does not include inventory:read
        '401':
          description: Missing, malformed, or invalid API key
        '400':
          description: Invalid query parameter
  /external/v1/inventory-health/pos-brands/history:
    get:
      tags:
      - Inventory Health
      summary: List POS brand inventory health history
      description: Returns historical POS brand inventory health metrics for the API
        key organization. Results are always separated by store. Requires inventory:read.
      operationId: getPosBrandInventoryHealthHistory
      parameters:
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of inventory health rows to return. Maximum is
          500.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: storeIds
        in: query
        description: Store UUID filters. Pass repeated query parameters, for example
          storeIds=id1&storeIds=id2.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        example: 11111111-1111-1111-1111-111111111111
      - name: search
        in: query
        description: Search text matched against the fields returned by the route.
        required: false
        schema:
          type: string
      - name: sortTarget
        in: query
        description: Field to sort by.
        required: false
        schema:
          type: string
          enum:
          - START_DATE
          - UNITS_PER_DAY
          - UPDATED_AT
        example: START_DATE
      - name: sortDirection
        in: query
        description: Sort direction. Prefer ASC or DESC; lowercase values are deprecated
          aliases.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
        example: DESC
      - name: periodType
        in: query
        description: Inventory history period granularity.
        required: true
        schema:
          type: string
          enum:
          - WEEKLY
          - MONTHLY
      - name: minStartDate
        in: query
        description: Minimum inclusive history start date.
        required: false
        schema:
          type: string
          format: date
      - name: maxStartDate
        in: query
        description: Maximum inclusive history start date.
        required: false
        schema:
          type: string
          format: date
      - name: posBrandIds
        in: query
        description: Optional target posBrands to filter responses
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 332
      responses:
        '403':
          description: API key does not include inventory:read
        '401':
          description: Missing, malformed, or invalid API key
        '200':
          description: Paged POS brand inventory health history results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponsePosBrandHistoryResponse'
        '400':
          description: Invalid query parameter
  /external/v1/inventory-health/categories:
    get:
      tags:
      - Inventory Health
      summary: List category inventory health
      description: Returns POS category inventory health metrics for the API key organization.
        Results are always separated by store. Requires inventory:read.
      operationId: getCategoryInventoryHealths
      parameters:
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of inventory health rows to return. Maximum is
          500.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: storeIds
        in: query
        description: Store UUID filters. Pass repeated query parameters, for example
          storeIds=id1&storeIds=id2.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        example: 11111111-1111-1111-1111-111111111111
      - name: brandIds
        in: query
        description: POS brand ID filters. Pass repeated query parameters, for example
          brandIds=1&brandIds=2.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 99
      - name: categoryIds
        in: query
        description: POS category ID filters. Pass repeated query parameters, for
          example categoryIds=1&categoryIds=2.
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 42
      - name: search
        in: query
        description: Search text matched against the fields returned by the route.
        required: false
        schema:
          type: string
      - name: includePercentShares
        in: query
        description: Whether to include percent-share fields.
        required: false
        schema:
          type: boolean
        example: false
      - name: sortTarget
        in: query
        description: Field to sort by.
        required: false
        schema:
          type: string
          enum:
          - UNITS_PER_DAY
          - UPDATED_AT
          - PERCENT_SHARE_OF_PROFIT
          - PERCENT_SHARE_OF_AGED_INVENTORY_COST
          - PERCENT_SHARE_OF_DOLLARS_SOLD
          - PERCENT_SHARE_OF_UNITS_SOLD
        example: UNITS_PER_DAY
      - name: sortDirection
        in: query
        description: Sort direction. Prefer ASC or DESC; lowercase values are deprecated
          aliases.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
        example: DESC
      responses:
        '200':
          description: Paged category inventory health results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseCategoryResponse'
        '403':
          description: API key does not include inventory:read
        '401':
          description: Missing, malformed, or invalid API key
        '400':
          description: Invalid query parameter
  /external/v1/inventory-health/categories/history:
    get:
      tags:
      - Inventory Health
      summary: List category inventory health history
      description: Returns historical POS category inventory health metrics for the
        API key organization. Results are always separated by store. Requires inventory:read.
      operationId: getCategoryInventoryHealthHistories
      parameters:
      - name: offset
        in: query
        description: Zero-based result offset for pagination.
        required: false
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of inventory health rows to return. Maximum is
          500.
        required: false
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 100
        example: 100
      - name: storeIds
        in: query
        description: Store UUID filters. Pass repeated query parameters, for example
          storeIds=id1&storeIds=id2.
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
        example: 11111111-1111-1111-1111-111111111111
      - name: search
        in: query
        description: Search text matched against the fields returned by the route.
        required: false
        schema:
          type: string
      - name: sortTarget
        in: query
        description: Field to sort by.
        required: false
        schema:
          type: string
          enum:
          - START_DATE
          - UNITS_PER_DAY
          - UPDATED_AT
        example: START_DATE
      - name: sortDirection
        in: query
        description: Sort direction. Prefer ASC or DESC; lowercase values are deprecated
          aliases.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
        example: DESC
      - name: periodType
        in: query
        description: Inventory history period granularity.
        required: true
        schema:
          type: string
          enum:
          - WEEKLY
          - MONTHLY
      - name: minStartDate
        in: query
        description: Minimum inclusive history start date.
        required: false
        schema:
          type: string
          format: date
      - name: maxStartDate
        in: query
        description: Maximum inclusive history start date.
        required: false
        schema:
          type: string
          format: date
      - name: categoryIds
        in: query
        description: Optional target categories to filter responses
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
        example: 1
      responses:
        '403':
          description: API key does not include inventory:read
        '401':
          description: Missing, malformed, or invalid API key
        '200':
          description: Paged category inventory health history results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOffsetResponseCategoryHistoryResponse'
        '400':
          description: Invalid query parameter
  /external/v1/daily-sales-metadata/stores/{storeId}/products/{productId}:
    get:
      tags:
      - Daily Sales Metadata
      summary: List daily sales metadata for a product
      description: Returns the last 90 days of daily sales metadata for one product
        and store in the API key organization. Date boundaries are calculated in the
        organization's configured timezone and today is excluded. Requires inventory:read.
      operationId: getDailySalesMetadataForProduct
      parameters:
      - name: storeId
        in: path
        description: Store/location UUID.
        required: true
        schema:
          type: string
          format: uuid
        example: 1ff7efc9-e196-43fb-8638-f5399f137ba6
      - name: productId
        in: path
        description: Internal product ID returned as productDetail.id from product
          inventory.
        required: true
        schema:
          type: integer
          format: int32
        example: 12345
      responses:
        '403':
          description: API key does not include inventory:read
        '401':
          description: Missing, malformed, or invalid API key
        '200':
          description: Daily sales metadata results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DailySalesMetadataResponse'
  /external/v1/orders/{orderId}/items/{itemId}/store/{storeId}:
    delete:
      tags:
      - Orders
      summary: Remove order item
      description: Removes an item from an order. Requires `orders:write`.
      operationId: removeOrderItem
      parameters:
      - name: orderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: itemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: storeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    ProductLineUpdateRequest:
      required:
      - name
      - productQueryParams
      type: object
      properties:
        name:
          type: string
          description: Product line/demand group display name.
          example: Acme Gummies
        productQueryParams:
          $ref: '#/components/schemas/ProductQueryParams'
        isFavorite:
          type: boolean
          description: Whether the product line is marked as a favorite.
          example: true
        desiredDaysOnHand:
          minimum: 1
          type: integer
          description: Target days on hand used for product-line replenishment calculations.
          format: int32
        leadTime:
          minimum: 0
          type: integer
          description: Lead time in days used for product-line replenishment calculations.
          format: int32
        lookbackPeriod:
          minimum: 1
          type: integer
          description: Sales lookback period in days used for product-line velocity
            calculations.
          format: int32
        autoRunDays:
          type: array
          description: Days of week to auto-run this product line, using ISO day-of-week
            values.
          items:
            type: integer
            description: Days of week to auto-run this product line, using ISO day-of-week
              values.
            format: int32
        reportEmailTargetDefaults:
          type: array
          description: Default email recipients for product-line reports.
          items:
            type: string
            description: Default email recipients for product-line reports.
        minimumOrderQuantityDefault:
          minimum: 0
          type: integer
          description: Default minimum order quantity (case size) for products in
            this product line.
          format: int32
        targetProductDepth:
          minimum: 0
          type: integer
          description: Target product depth for this product line.
          format: int32
        autoDemandGroupCreateLogId:
          type: integer
          description: Auto-created demand group log ID, when this product line is
            auto-generated.
          format: int32
    ProductQueryParams:
      type: object
      properties:
        offset:
          minimum: 0
          type: integer
          format: int32
          default: 0
        limit:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 100
        restockOnly:
          type: boolean
        activeInLastDays:
          minimum: 0
          type: integer
          format: int32
        matchingSearchTerms:
          type: array
          items:
            type: string
        notMatchingSearchTerms:
          type: array
          items:
            type: string
        universalCategoryIds:
          type: array
          items:
            type: integer
            format: int32
        posCategoryIds:
          type: array
          items:
            type: integer
            format: int32
        posSubCategoryIds:
          type: array
          items:
            type: integer
            format: int32
        vendorIds:
          type: array
          items:
            type: integer
            format: int32
        universalBrandIds:
          type: array
          items:
            type: integer
            format: int32
        posBrandIds:
          type: array
          items:
            type: integer
            format: int32
        includeUniversalUncategorized:
          type: boolean
        includePosUncategorized:
          type: boolean
        includePosSubUncategorized:
          type: boolean
        minWeight:
          minimum: 0
          type: number
          format: double
        maxWeight:
          minimum: 0
          type: number
          format: double
        strainClassificationIds:
          type: array
          items:
            type: integer
            format: int32
        minPrice:
          minimum: 0
          type: number
          format: double
        maxPrice:
          minimum: 0
          type: number
          format: double
        minCost:
          minimum: 0
          type: number
          format: double
        maxCost:
          minimum: 0
          type: number
          format: double
        sortTarget:
          type: string
          enum:
          - UNITS_PER_DAY
          - LAST_ACTIVITY_AT
        sortDirection:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
          - ASC_NULLS_FIRST
          - ASC_NULLS_LAST
          - DESC_NULLS_FIRST
          - DESC_NULLS_LAST
      description: The product query params used to find products matching this product
        line.
    ProductLineDetailResponse:
      type: object
      properties:
        name:
          type: string
          description: Product line/demand group display name.
          example: Acme Gummies
        id:
          type: integer
          description: Product line/demand group ID.
          format: int32
          example: 123
        targetProductDepth:
          type: integer
          description: Target product depth for this product line.
          format: int32
        desiredDaysOnHand:
          type: integer
          description: Target days on hand used for product-line replenishment calculations.
          format: int32
        leadTime:
          type: integer
          description: Lead time in days used for product-line replenishment calculations.
          format: int32
        universalBrandId:
          type: integer
          description: Universal brand ID associated with the product line, when available.
            This is a derived field, set automatically when the product line's query
            params have one or more brand mapped to the same universal brand or only
            one universal brand.
          format: int32
        universalBrandName:
          type: string
          description: Universal brand name associated with the product line, when
            available.
        minimumOrderQuantity:
          type: integer
          description: Minimum order quantity (case size) for this product line.
          format: int32
        universalCategoryId:
          type: integer
          description: Universal category ID, when available. This is a derived field,
            set automatically when the product line's query params have only one category.
          format: int32
        universalCategoryLabel:
          type: string
          description: Universal category label, when available.
        posBrandId:
          type: integer
          description: POS brand ID associated with the product line, when available.
            This is a derived field, set automatically when the product line's query
            params have only one brand.
          format: int32
        posBrandName:
          type: string
          description: POS brand name associated with the product line, when available.
        productQueryParams:
          $ref: '#/components/schemas/ProductQueryParams'
        lookbackPeriod:
          type: integer
          description: Sales lookback period in days used for product-line velocity
            calculations.
          format: int32
    CarryStatusUpdateRequest:
      required:
      - continueToCarry
      type: object
      properties:
        continueToCarry:
          type: boolean
          description: 'Whether this product should continue to be carried.

            When false: Product is discontinued. It will still be viewable but will
            not be recommended for reorders.

            When true: Product will continue to be recommended for reorders.

            '
          example: false
    CarryStatusUpdateResponse:
      type: object
      properties:
        productId:
          type: integer
          description: Internal product ID.
          format: int32
        storeId:
          type: string
          description: Store/location UUID.
          format: uuid
        continueToCarry:
          type: boolean
          description: Whether this product should continue to be carried.
    OrderItemAddRequest:
      required:
      - storeId
      type: object
      properties:
        productId:
          type: integer
          description: Product `id` when adding an individual product.
          format: int32
          example: 123
        productLineId:
          type: integer
[...]
